@model IEnumerable<Product>
@{
    ViewData["Title"] = "Ürün Yönetimi";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Ürün</a>
</p>

<form asp-action="Index" method="get">
    <input type="text" name="query" class="form-control col-3" />
    <button type="submit" class="btn btn-primary">Ara</button>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
                <a asp-route-orderColumn="title" asp-route-orderDirection="az">
                    <i class="fa-solid fa-arrow-down-a-z"></i>
                </a>
                <a asp-route-orderColumn="title" asp-route-orderDirection="za">
                    <i class="fa-solid fa-arrow-down-z-a"></i>
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
                <a asp-route-orderColumn="price" asp-route-orderDirection="az">
                    <i class="fa-solid fa-arrow-down-a-z"></i>
                </a>
                <a asp-route-orderColumn="price" asp-route-orderDirection="za">
                    <i class="fa-solid fa-arrow-down-z-a"></i>
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @item.Category.Name
                </td>
                <td>
                    @item.Brand.Name
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var pageStr = Context.Request.Query["page"].ToString();
    var page = 1;
    if (pageStr != "") page = Convert.ToInt32(pageStr);
    var totalPage = Convert.ToInt32(ViewBag.TotalPage);
}
<p>Toplam @totalPage sayfa içerisinde @(page). sayfayı görmektesiniz.</p>
<nav aria-label="...">
    
    <ul class="pagination">
        @if (page > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-route-page="@(page-1)">Previous</a>
            </li>
        }
        @for (int i = 1; i <= totalPage; i++)
        {
            <li class="page-item @(page==i ? "active" : "")"><a class="page-link" asp-route-page="@i">@i</a></li>
        }
        @if (page < totalPage)
        {
            <li class="page-item">
                <a class="page-link" asp-route-page="@(page+1)">Next</a>
            </li>
        }
    </ul>
</nav>
