@model List<CartSessionModel>

<div class="container">
    <h1>Sepet</h1>
    @if (Model.Count == 0)
    {
        <text>Sepetinizde ürün bulunmamaktadır.</text>
    }
    else
    {
        <text>Sepetinizde @Model.Count ürün bulunmaktadır.</text>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ürün</th>
                    <th scope="col">Adet</th>
                    <th scope="col">Fiyat</th>
                    <th scope="col">Toplam Tutar</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.ProductId</th>
                        <td>@item.ProductName</td>
                        <td>@item.Quantity</td>
                        <td>@item.Price.ToString("C2")</td>
                        <td>@((item.Price * item.Quantity).ToString("C2"))</td>
                        <td>
                            <a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-pid="@item.ProductId" class="btn btn-sm btn-danger btn-lg btn-block">Sepetten Kaldır</a>
                        </td>
                    </tr>
                }
                <tr>
                    <th colspan="4" class="text-end">Toplam Tutar</th>
                    <td>
                        @{
                            var toplamTutar = Model.Sum(item => item.Quantity * item.Price);
                            var kdv = toplamTutar * 0.20m;
                        }
                        @toplamTutar.ToString("C2")
                    </td>
                </tr>
                <tr>
                    <th colspan="4" class="text-end">Toplam KDV (%20)</th>
                    <td>@kdv.ToString("C2")</td>
                </tr>
                <tr>
                    <th colspan="4" class="text-end">Toplam KDV'li Tutar</th>
                    <td>@((toplamTutar + kdv).ToString("C2"))</td>
                </tr>
            </tbody>
        </table>
    }
</div>